/*! normalize.css v7.0.0*/

button,
hr,
input {
		overflow: visible
}

audio,
canvas,
progress,
video {
		display: inline-block
}

progress,
sub,
sup {
		vertical-align: baseline
}

[type=checkbox],
[type=radio],
legend {
		box-sizing: border-box;
		padding: 0
}

html {
		line-height: 1.15;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%
}

body {
		margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
		display: block
}

h1 {
		font-size: 2em;
		margin: .67em 0
}

figure {
		margin: 1em 40px
}

hr {
		box-sizing: content-box;
		height: 0
}

code,
kbd,
pre,
samp {
		font-family: monospace, monospace;
		font-size: 1em
}

a {
		background-color: transparent;
		-webkit-text-decoration-skip: objects
}

abbr[title] {
		border-bottom: none;
		text-decoration: underline;
		text-decoration: underline dotted
}

b,
strong {
		font-weight: bolder
}

dfn {
		font-style: italic
}

mark {
		background-color: #ff0;
		color: #000
}

small {
		font-size: 80%
}

sub,
sup {
		font-size: 75%;
		line-height: 0;
		position: relative
}

sub {
		bottom: -.25em
}

sup {
		top: -.5em
}

audio:not([controls]) {
		display: none;
		height: 0
}

img {
		border-style: none
}

svg:not(:root) {
		overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
		font-family: sans-serif;
		font-size: 100%;
		line-height: 1.15;
		margin: 0
}

button,
select {
		text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
		-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
		border-style: none;
		padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
		outline: ButtonText dotted 1px
}

fieldset {
		padding: .35em .75em .625em
}

legend {
		color: inherit;
		display: table;
		max-width: 100%;
		white-space: normal
}

textarea {
		overflow: auto
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
		height: auto
}

[type=search] {
		-webkit-appearance: textfield;
		outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
		-webkit-appearance: none
}

::-webkit-file-upload-button {
		-webkit-appearance: button;
		font: inherit
}

summary {
		display: list-item
}

[hidden],
template {
		display: none
}

/*! paper-css v0.3.0*/

.sheet,
body {
		margin: 0
}

@page {
		margin: 0
}

.sheet {
		overflow: hidden;
		position: relative;
		box-sizing: border-box;
		page-break-after: always
}

body.A4 .sheet {
		width: 210mm;
		height: 297mm
}

@media screen {
		body {
				background: #e0e0e0
		}

		.sheet {
				background: #fff;
				box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
				margin: 5mm
		}
}

/*  Print Value  */
table#printTable {
		border: 1px solid #000;
		width: 565pt;
		height: 835pt;
}

table#printTable td {
		padding: 3px 0px 0px 0px;
}

.text {
		color: black;
		font-size: 12.0pt;
		font-weight: 700;
		font-style: normal;
		font-family: Arial, sans-serif;
		margin: 20px 20px;
		margin-bottom: 0px;
		border-collapse: collapse;
}

.text-center {
		text-align: center;
}

.h1 {
		text-decoration: underline;
		font-size: 14.0pt;
}

td {
		border-bottom: 1px solid #000;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
}

.noBorder {
		border: 0;
}

.upper-border {
		border-top: 1px solid #000;
}

.sign:after {
		content: "✓";
}

.unsign:after {
		content: " □";
}

/*
Creat Application
*/

#opFemale,
.dataTables_empty,
.hRelativesN,
input[name=cdrive],
input[name=edu],
input[name=gender] {
		display: none;
}

.remove_width {
		width: 10%;
}
