/** Paper sizes **/

body.A4 .sheet {
  width: 210mm;
  height: 296mm
}

/** Fix for Chrome issue #273306 **/

@media print {
  body.A4 {
    width: 210mm
  }
}

section.sheet {
  padding: 5mm;
}

.page {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  direction: rtl;
  font-size: 13pt;
  font-weight: 700;
  font-style: normal;
  font-family: Arial, sans-serif;
}

.info > .head {
  display: inline-block;
  padding: 0.5mm;
  padding-left: 1mm;
}

h4 {
  padding: 3mm;
  margin: 0;
  text-decoration: underline;
  border: 1px solid #000;
}

/* Header */

div.header {
  display: flex;
  height: 40mm;
  text-align: center;
  align-items: center;
  justify-content: center;
}

div.header span {
  width: 80%;
  font-weight: 700;
  font-style: normal;
  font-family: Arial, sans-serif;
  font-size: 28px;
}

div.header img {
  width: 20%;
  height: 100%;
}

/* personalInfo */

.personalInfo {
  display: flex;
  flex-direction: column;
}

.personalInfo .info > .head {
  width: 40mm;
}

/* EducationInfo */

.educationInfo .info > .head {
  width: 55mm;
}

/* EducationInfo */

.expInfo {}

.expInfo .exp {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  font-weight: normal;
}

.expInfo .exp > .td {
  border: 1px solid #000;
  flex: 2;
  text-align: center;
  overflow-wrap: break-word;
  padding: 2mm;
}

/* EducationInfo */

.Authonly .info {
  display: flex;
  flex-direction: row;
}

.Authonly .info > span {
  border: 1px solid #000;
  text-align: center;
  flex: 2;
}

.Authonly .sign {
  display: flex;
}

.Authonly .sign > span {
  flex: 2;
  text-align: center;
  padding-top: 4mm;
}